*~
*.buildinfo
*.changes
*.deb
*.ddeb
*.dsc
*.la
*.lo
*.o
*.rpm
*.spec
*.tar.gz
*.tar.xz
.deps
.libs
aclocal.m4
autom4te.cache
build_debs.sh
changelog
compile
config.guess
config.log
config.status
config.sub
configure
control
depcomp
docbook
install-sh
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
moc_*
src/tests/profile_tests
